language: go

go:
  - "1.x"

cache:
  directories:
    - $GOPATH/pkg/mod

branches:
  only:
    - master

notifications:
  email:
    on_success: never
    on_failure: change

env:
  - GO111MODULE=on

before_install:
  # Install linters and misspell
  - curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | bash -s -- -b $GOPATH/bin ${GOLANGCI_LINT_VERSION}
  - golangci-lint --version

install:
  - go mod tidy
  - git diff --exit-code go.mod
  - git diff --exit-code go.sum
  - go mod download

script:
  - make
  - make image
